{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mini Simple Cart</h1>
    <p>Welcome</p>

    {% for product in products %}
        <b>{{ product.name }}</b> [{{ product.price }}$]<br>
    {% endfor %}

{% endblock %}
